<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/stylesheets/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/css/bootstrap-table.css" rel="stylesheet">
    <link href="/stylesheets/css/theme_modal.css" rel="stylesheet">
    <link href="/stylesheets/css/theme_button.css" rel="stylesheet">
    <title>链路类型管理</title>
    <style>
        .func-panel{
            padding: 5px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="row show-grid">
            <div class="func-panel col-xs-9 col-md-9">
                <button class="btn-edit btn" type="button" data-toggle="modal" data-target="#modal_link">编辑条目</button>
                <button class="btn-add btn" type="button" data-toggle="modal" data-target="#modal_link">增加条目</button>
                <button class="btn-delete btn" type="button">删除选中条目</button>
                <button class="btn-save btn" type="button">保存更改</button>
            </div>
        </div>
    </div>
    <div class="span9">
        <div class="row-fluid">
        </div>
        <table class="table" id="list_linkType"></table>
    </div>
</div>


<div class="modal fade" id="modal_linkType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div  class="modal-header">
                <h4 class="modal-title" >
                    链路类型
                </h4>
            </div>
            <div class="modal-body">

                <form class="form-horizontal modal-form" method="post" action="/validateform">
                    <fieldset>
                        <!--<input type="hidden" name="linkId" val="">-->
                        <!--<div id="legend" class="">-->
                            <!--<legend class="">链路类型</legend>-->
                        <!--</div>-->

                        <!--<div class="control-group">-->

                            <!--&lt;!&ndash; Text input&ndash;&gt;-->
                            <!--<label class="control-label">链路类型编号</label>-->
                            <!--<div class="controls">-->
                                <!--<input type="text" name="linkTypeId" placeholder="" class="input-xlarge">-->
                                <!--<p class="help-block"></p>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="control-group">

                            <!-- Text input-->
                            <label class="control-label">链路类型</label>
                            <div class="controls">
                                <input type="text" name="linkType" placeholder="" class="input-xlarge">
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">

                            <!-- Text input-->
                            <label class="control-label">链路损耗</label>
                            <div class="controls">
                                <input type="text" name="linkLoss" placeholder="" class="input-xlarge">
                                <p class="help-block"></p>
                            </div>
                        </div>

                        <div class="control-group">

                            <!-- Text input-->
                            <label class="control-label">链路速率</label>
                            <div class="controls">
                                <input type="text" name="linkRate" placeholder="" class="input-xlarge">
                                <p class="help-block"></p>
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="submitBtn"  class="btn btn-submit" >
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>

<script src="/javascripts/lib/jquery-3.2.1.min.js"></script>
<script src="/javascripts/lib/bluebird.min.js"></script>
<script src="/javascripts/lib/bootstrap.min.js"></script>
<script src="/javascripts/lib/bootstrap-table.js"></script>
<script src="/javascripts/lib/bootstrap-table-zh-CN.js"></script>

<script src="/javascripts/const_args.js"></script>
<script src="/javascripts/util.js"></script>
<!--<script src="http://rapapi.org/rap.plugin.js?projectId=22257"></script>-->
<script src="/javascripts/Resources/linkType.js"></script>

</html>